body
{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
section
{
    height: 700px;
    
    
}
p
{
    color: dimgray;
}

.dv .hmm
{
    color: rgb(245, 38, 107);
    font-size: xx-large;
}
.dv h2
{
    font-size: x-large;
    font-weight: 400;
}
.button1
{
    color: white;
    background-image: linear-gradient(45deg, rgb(240, 92, 141), rgb(245, 38, 107) );
    border: 1px solid rgb(245, 38, 107);
    padding: 5px 20px;
    border-radius: 5px;
}
.dv
{
    width: 40%;
    float: left; 
    margin-top: 70px;
}
.dv #hmm
{
    color: balck;
}
.text
{
    margin-top: 150px;
    margin-left: 140px;
}
.text p
{
    width: 95%;
}
.text3
{
    margin-top: 150px;
    margin-left: 120px;
}
.text3 p
{
    width: 95%;
}
.text2
{
    margin-left: 50px;
}
.text4
{
    margin-left: 50px;
}
.img1
{
    width: 110%;
}
.img2
{
    width: 110%;
}
#background1
{
    background-image: url(images/header-bg.png);
    background-size: cover;
}
#bacground2
{
    background-image: url(images/biography-bg.png);
    background-size: cover;
}
.pic
{
    width: 30%;   
    float: left;
    margin-top: 70px;
    
    
}
.dhur
{
    margin-left: 90px;
}
.image-sec h1
{
    margin-top: 120px;
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
}
.image-sec .pic img
{
    width: 93%;
       
}
.image-sec
{
    background-image: url(images/latest-work-bg.png);
    background-size: cover;
}
.footer
{
    text-align: center;
    background-image: url(images/footer-bg.png);
    background-size: cover;
    

}
.footer .client
{
    font-size: xx-large;
    padding-top: 70px;
}
.middle
{
    width: 60%;
    margin-left: 215px;
}
.border
{
    border: 1px solid rgb(245, 38, 107) ;
    width: 40%;
    position: relative;
    left: 385px;
    padding: 20px;
    border-radius: 10px;
    color: white;
    background-image: linear-gradient(45deg, rgb(240, 92, 141), rgb(245, 38, 107) );
}
.border p
{
    color: white;
}
footer
{
    text-align: center;
}
footer p
{
    font-size: smaller;
    font-weight: bold;
}
.border h1
{
    font-size: xx-large;
}